@model CheckoutViewModel
@using Microsoft.AspNetCore.Identity
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@section scriptss{
    <div id="myModal-cart" class="modal-cart modal">
        <div class="modal-cart--content modal-content23">
            <div class="modal-header23">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body23">
                <div class="sp-body23">
                    <p class="csfsa">&times;</p>
                    <div class="check0vsd">
                        <input style="display:block" type="checkbox" class="imb-check">
                        <img src="/img/a1.png" alt="" class="img-check">
                        <div class="sp-add-bd">
                            <p class="p-check">Son Tint dạng lì siêu nhẹ môi innisfree Airy Matte Tint 3.8g</p>
                            <div class="baonhecaine">
                                <button style="display:inline" class="button">+</button>
                                <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                <button class="button">-</button>
                            </div>

                        </div>
                    </div>
                    <p class="p-check-price">VND 306.000</p>
                </div>
                <div class="sp-body23">
                    <p class="csfsa">&times;</p>
                    <div class="check0vsd">
                        <input style="display:block" type="checkbox" class="imb-check">
                        <img src="/img/a2.png" alt="" class="img-check">
                        <div class="sp-add-bd">
                            <p class="p-check">Dầu dưỡng tóc hoa trà innisfree Camellia Essential Hair Oil Serum 100ml...</p>
                            <div class="baonhecaine">
                                <button style="display:inline" class="button">+</button>
                                <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                <button class="button">-</button>
                            </div>

                        </div>
                    </div>
                    <p class="p-check-price">VND 234.000</p>
                </div>
                <div class="sp-body23">
                    <p class="csfsa">&times;</p>
                    <div class="check0vsd">
                        <input style="display:block" type="checkbox" class="imb-check">
                        <img src="/img/a3.png" alt="" class="img-check">
                        <div class="sp-add-bd">
                            <p class="p-check">Kem dưỡng ẩm nâng tông làm sáng da và chống nắng innisfree Cherry Blossom Skin....</p>
                            <div class="baonhecaine">
                                <button style="display:inline" class="button">+</button>
                                <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                <button class="button">-</button>
                            </div>

                        </div>
                    </div>
                    <p class="p-check-price">VND 495.000</p>
                </div>
                <div class="sp-body23">
                    <p class="csfsa">&times;</p>
                    <div class="check0vsd">
                        <input style="display:block" type="checkbox" class="imb-check">
                        <img src="/img/a4.png" alt="" class="img-check">
                        <div class="sp-add-bd">
                            <p class="p-check">Son Tint dạng lì siêu nhẹ môi innisfree Airy Matte Tint 3.8g</p>
                            <div class="baonhecaine">
                                <button style="display:inline" class="button">+</button>
                                <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                <button class="button">-</button>
                            </div>

                        </div>
                    </div>
                    <p class="p-check-price">VND 306.000</p>
                </div>
            </div>
            <div class="modal-footer23">
                <div class="baocainhe">
                    <img style="display:block" src="/img/trashpopop.png" alt="">
                    <p style="margin-left:10px;color:#F07C50;cursor: pointer;">Xóa giỏ hàng</p>
                </div>
                <p class="giamgiachonhaudi">Mã giảm giá</p>
                <div class="formgiamgiado">
                    <input class="dattengichongau" type="text" placeholder="Vui lòng nhập mã giảm giá">
                    <input class="datdaidi" type="submit" value="Áp dụng">
                </div>
                <input style="margin-top: 20px;
min-width:0;
min-height: 0;
background:none;
border:none;
display:inline;
                max-width: 80.37px;
                flex: 1;
                transform: scale(2);
                accent-color: #F07C50;
                margin-right: 10px;" type="checkbox" class="imb-checks"> <span style="font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;

                color: #000000;">Tất cả</span>
                <div class="tongtiendo">
                    <p class="ptongtienprice">Tổng số tiền</p>
                    <p class="ptongtienprice">VND 495.000</p>
                </div>
                <a href="/@culture/Cart/Checkout" class="text-center text-white d-block btsdsdadsa">Mua hàng</a>
                <a class="closes text-center d-block addasd btsdsdadsa">Xem thêm sản phẩm</a>
            </div>
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal-cart");

        // Get the button that opens the modal
        var btn = document.getElementById("mybtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var spans = document.getElementsByClassName("closes")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        spans.onclick = function () {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $(function () {
            $(".button").on("click", function () {
                var $button = $(this);
                var $parent = $button.parent();
                var oldValue = $parent.find('.input').val();

                if ($button.text() == "+") {
                    var newVal = parseFloat(oldValue) + 1;
                } else {
                    // Don't allow decrementing below zero
                    if (oldValue > 1) {
                        var newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 1;
                    }
                }
                $parent.find('a.add-to-cart').attr('data-quantity', newVal);
                $parent.find('.input').val(newVal);
            });
        });
    </script>
}
