
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-1 {
    position: relative;
    max-width: 950px;
    background: #FFFFFF;
    margin: 0 auto;
    text-decoration: none;
}

.p-fl1 {
    border: 1px solid #ccc;
    border-radius: 100%;
    min-width: 65px;
    min-height: 65px;
    text-align: center;
    float: right;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: rgba(80, 78, 78, 0.9);
}

.active {
    background-color: rgb(240, 127, 83);
}

.p-fl2 {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 100%;
    min-width: 65px;
    min-height: 65px;
    text-align: center;
    float: left;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: rgba(80, 78, 78, 0.9);
    margin-left: 3%;
}

.p-fl1-1 {
    clear: right;
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
}

.p-fl1-2 {
    clear: left;
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
}

.fow22 {
    max-width: 100%;
    display: flex;
    padding: 30px;
}

.flow {
    max-width: 100%;
    padding: 50px;
}

    .flow::before {
        content: "";
        display: block;
        max-width: 100%;
        border: 1px solid #3333;
    }

    .flow::after {
        content: "";
        display: block;
        max-width: 100%;
        border: 1px solid #3333;
    }

.flow-1 {
    width: 10px;
    flex: 1;
    text-align: right;
    padding-right: 50px;
}

.flow-2 {
    flex: 1;
    text-align: left;
    padding-left: 50px;
}

.info-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.8);
}

.info-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #000000;
}

.inputinfo {
    max-width: 100%;
}

    .inputinfo::after {
        content: "";
        display: block;
        max-width: 100%;
        border: 1px solid #3333;
        margin: 20px 0;
    }

.inputinfologin {
}

.loai1 {
    min-width: 400px;
    max-height: 50px;
    padding: 10px;
    background: #FFFFFF;
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.loai2 {
    min-width: 251px;
    max-height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    padding: 10px;
}

.loai3 {
    box-sizing: border-box;
    min-width: 550.69px;
    max-height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    padding: 10px;
}

.xn {
    text-decoration: none;
    min-width: 120px;
    min-height: 38px;
    background: #F07C50;
    border: 1px solid #F07C50;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF !important;
    padding: 10px;
}

.p1 {
    max-width: 283.15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.div-p1 {
    margin-left: 18%;
}

.email-detail2 {
    max-width: 74%;
    margin: 1px 0 20px 0;
    text-align: right;
}

.loai4 {
    margin: 20px 0px;
    box-sizing: border-box;
    max-width: 90px;
    max-height: 50px;
    left: 504.5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.lanel1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.lanel {
    min-width: 168px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
}

.email-detail3 {
    max-width: 77%;
    margin: 1px 0 20px 0;
    text-align: right;
}

.fav-languages {
    margin-left: 10%;
}

.ss::before {
    content: "";
    display: block;
    max-width: 100%;
    border: 1px solid #3333;
    margin: 20px 0;
}

.email-detail {
    max-width: 54%;
    text-align: right;
}

.div-title {
    min-height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 22px;
    margin-right: 10px;
}

.div-ngang {
    display: flex;
    align-items: center;
}

.div-btn-cl-1 {
    min-height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 22px;
    flex: 1;
}

.lb-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #000000;
    display: block;
}

.ip-cl-1 {
    display: flex;
    align-items: center;
}

input[type=radio] {
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
}

input[type=checkbox] {
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
}

.div-sms {
    display: flex;
    align-items: center;
}

.div-sms1 {
    max-width: 24%;
    min-height: 185px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 22px;
    flex: 1;
}

.div-sms11 {
    min-height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 22px;
    flex: 2;
}

.div-i {
    margin-top: 10px;
    max-width: 50%;
    display: flex;
}

.div-i1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.ik {
    min-height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.ikk {
    margin: 20px 0;
}

.gachngang::after {
    content: "";
    display: block;
    max-width: 100%;
    border: 1px solid #3333;
    margin-bottom: 20px;
}

.pps {
    margin: -3% 0 0 0;
    max-width: 100%;
    min-height: 200px;
    text-align: center;
    position: relative;
}

.regbtn {
    min-width: 319.56px;
    min-height: 60px;
    background: #F07C50;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #F07C50;
    border-radius: 1px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gt-smart {
    display: flex;
    align-items: center;
}

.div-gt {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-2 {
}
